@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: "Open Sans";
  background: #d2d2d2;
}
p {
  font-style: italic;
}
ul {
  list-style: none;
}

ul li {
  padding-bottom: 40px;
  position: relative;
}

ul li span {
  border-radius: 50%;
  border: 1px solid black;
  padding: 5px 10px;
  margin-right: 10px;
  background: #ffddaa;
}
ul li span:before {
  content: "";
  position: absolute;
  border-left: 1px solid;
  left: 14px;
  bottom: 0;
  z-index: -1;
  height: 100%;
}

ul li:last-child span:before {
  content: none;
}
ul li:last-child {
  padding-bottom: 0;
}
